@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[Raleway];
  }
}

.content-div {
  height: 250px;
}

.content-div span {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
